.box1{
    width: 150px;
    height: 70px;
    border: 2px solid green;
    color: white;
    background-color: red;
    text-align: center;
    outline: 7px solid yellow;
    margin-left: 870px;
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;


}
.box2{
    width: 150px;
    height: 70px;
    border: 2px solid yellow;
    color: white;
    background-color: blue;
    text-align: center;
    outline: 7px solid black;
    margin-left: 870px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}